{{ partial "head.html" . }}
{{ partial "menu.html" . }}
            
        <div class="row-flex contact-header">
            <div id="logo"><h1>NORTH END KNITTING SCHOOL</h1></div>
            <div class="col-50-flex contact-img-col">
                <img src="/images/contact-picture.jpg">
            </div>
            <div class="col-50-flex contact-text-col">
<!--                <div>-->
<!--                    <div id="logo-contact"><h1>NORTH END<br>KNITTING<br>SCHOOL</h1></div>-->
                    <div class="get-in-touch-spacer"></div>
                    <h2>GET IN TOUCH</h2>
                    <p>If you have any questions about the courses, complete the contact form below or email <a href="mailto:northendknittingschool@gmail.com">northendknittingschool@gmail.com</a> and I’ll be in touch for a chat.</p>
                    <p>New workshops are always been posted. To keep up to date and receive special course discounts, register for the monthly North&nbsp;End Knitting&nbsp;School newsletter.</p>
<!--                </div>-->
            </div>
        </div>
        
        <div class="contact-form-row">
            <form action="https://formspree.io/northendknittingschool@gmail.com" method="POST">
                <div class="form-label">
                    <label>NAME</label>
                    <label>EMAIL</label>
                    <label>MESSAGE</label>
                </div>
                <div class="form-input">
                    <input type="text" name="name">
                    <input type="email" name="email">
                    <textarea rows="5" name="message"></textarea>
                    <button type="sumbit">SEND</button>
                    <input type="hidden" name="_next" value="https://northendknitting.com/thankyou">
                </div>
            </form>
        </div>

{{ partial "footer-content.html" . }}
{{ partial "footer.html" . }}