{{ partial "head.html" . }}
        <div id="homepage-background">
            <div id="landing-quote">
                {{ partial "quote.svg" . }}            
            </div>
            <div id="logo"><h1>NORTH END<br>KNITTING<br>SCHOOL</h1></div>
            <div id="intro"><p>Learn how to machine knit at Wirksworth's North End Knitting School</p></div>


            <div id="size-limit">
                <div id="click-to-explore">
                    <p>click to explore<br>the site</p>
                    <img src="/images/arrow.png">
                </div>
                <div id="spools-div">
                    <img src="/images/spools.png">
                    <div id="menu-overlay-box">
                        <div id="menu-1" class="menu-circle"><h2 class="menu-circle-text">GALLERY</h2></div>
                        <div id="menu-2" class="menu-circle"><h2 class="menu-circle-text">ABOUT</h2></div>
                        <div id="menu-3" class="menu-circle"><h2 class="menu-circle-text">WORKSHOPS</h2></div>
                    </div>
                </div>
            </div>
        </div>
{{ partial "footer.html" . }}