$mainFont: 'Catamaran', sans-serif;
$titleFont: 'Teko', sans-serif;
$themeBrown: #B04D00;
$themeYellow: #FEC712;
$themeBackground: #D9D9D9;
$themeBackgroundTranslucent: #D9D9D9C0;
$themeLogoGrey: #666666;
$themeDarkGrey: #1E1E1E;

$breakPointSmall: 500px;
$breakPointMedium: 700px;

@mixin catamaranLight {
    font-family: $mainFont;
    font-weight: 200;
}

@mixin teko {
    font-family: $titleFont;
    font-weight: 400;
    letter-spacing: 1px;
}

body {
    margin: 0;
    height: 100%;
}

p {
    @include catamaranLight;
    font-size: 20px;
    overflow-wrap: break-word;
}


h2 {
    @include teko;
    font-size: 30px;
}

#menu {
    position: relative;
        
    &:target {
        ul {
            display: flex;
        }
        
        .mobile-menu-bar {
            .open-menu-link {
                display: none;
            }
            
            .close-menu-link {
                display: block;
            }
//            display: none;
        }
    }
    
    .mobile-menu-bar {
        width: 100%;
        height: 70px;
        background-color: $themeYellow;
        position: relative;
        z-index: 4;
        
        a {
            width: 40px;
            height: 20px;
            position: absolute;
            right: 15px;
            top: 25px;
            
            .open-menu {
                width: 100%;
                height: 100%;
                
                .burger-line {
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    background-color: $themeBrown;
                }
                
                #burger-line-1 {
                    top: 0;
                }
                
                #burger-line-2 {
                    top: 50%;
                }
                
                #burger-line-3 {
                    top: 100%;
                }
                
            }
        }
            
        .close-menu-link {
            display: none;

            .close-menu {
                width: 100%;
                height: 100%;

                .close-line {
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    background-color: $themeBrown;
                }

                #close-line-1 {
                    transform: rotate(45deg);
                }

                #close-line-2 {
                    transform: rotate(-45deg);
                }
            }
        }
        
        @media only screen and (min-width: $breakPointMedium) {
            display: none;
        }
        
    }
    
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        @include teko;
        font-size: 40px;
        background-color: $themeYellow;
        position: absolute;
        z-index: 4;
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        li {
            list-style: none;
            padding-left: 50px;
        }
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        display: block;
        height: 50px;
        
        ul {
            display: flex;
            flex-direction: row;
            height: 100%;
            overflow-y: hidden;
            font-size: 24px;

            li {
                padding: 9px 30px 0 30px;
            }
        }
    }
}

#homepage-background {
    background-color: $themeBackground;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
}

.landing-quote {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFFD0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    svg {
        width: 80%;
    }
}

#landing-quote-desktop {
    display: none;
    
    @media only screen and (min-width: $breakPointMedium) {
        display: flex;
    }
}

#landing-quote-mobile {
    display: flex;

    @media only screen and (min-width: $breakPointMedium) {
        display: none;
    }
}

#logo-homepage {
    position: relative;
    z-index: 5;
    margin: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $titleFont;
    line-height: 180%;
    font-size: 14px;
    color: $themeDarkGrey;
    background-color: $themeLogoGrey;
    margin: 10px auto 0 auto;

    h1 {
        margin: 5px 0 0 0;
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        margin: 10px 0 0 10px;
        width: 200px;
        height: 200px;
        font-size: 22px;
        
    }
}

#logo {
    position: relative;
    z-index: 5;
    margin: 0;
    width: 905;
    height: 66px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $titleFont;
    line-height: 180%;
    font-size: 14px;
    color: $themeDarkGrey;
    
    h1 {
        margin: 5px 0 0 0;
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        background-color: $themeLogoGrey;
        width: 200px;
        height: 200px;
        font-size: 22px;
        
    }
}

#intro {
    position: relative;
    z-index: 1;
    border-radius: 15px;
    background-color: $themeBackgroundTranslucent;
    padding: 5px 0 0 0;
    
    p {
        @include catamaranLight;
        font-size: 18px;
        text-align: center;
        padding: 0 10px 0 0;
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        width: 260px;
        left: 30px;
        
        p {
            font-size: 22px;
            text-align: left;
        }
    }
}

#click-to-explore {
    position: absolute;
    right: 0;
    transform: none;
    top: none;
    display: none;
    
    p {
        position: absolute;
        right: 0;
        top: -20px;
        text-align: center;
    }
    
    img {
        width: 50%;
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        display: block;
    }
    
    @media only screen and (min-width: 1250px) {
        transform: translateX(100%);
        top: 100px;
    }
}

#size-limit {
    width: 100%;
    position: relative;
    background-color: $themeBackground;
//    height: calc(100vh - 400px);
    
    @media only screen and (min-width: $breakPointMedium) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 99vh;
        width: 85vh;
        max-width: 95vw;
    }
}

#spools-div {
    width: 100%;
    height: 0;
    padding-bottom: 103.87%;
    position: absolute;
    bottom: 0;
    display: none;
    
    img {
        display: block;
    }
    
    @media only screen and (min-width: $breakPointMedium) {
        display: block;
    }
    
    img {
        max-width: 100%;
        
    }
    
    #menu-overlay-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .menu-circle {
            @include catamaranLight;
            font-size: 20px;
            border-radius: 50%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &:hover {
                background-color: #FFFFFF80;
            }
        }

        #menu-1 {
            width: 24.5%;
            height: 23.5%;
            top: 15%;
            right: 0.5%;
        }

        #menu-2 {
            width: 22%;
            height: 21%;
            top: 34.4%;
            left: 33.2%;
        }

        #menu-3 {
            width: 24.5%;
            height: 23%;
            bottom: 0.5%;
            left: 42.8%;
        }
        
        #menu-4 {
            width: 24%;
            height: 22.5%;
            bottom: 9.5%;
            right: 4.5%;
        }
        
        .menu-circle-text {
            color: #00000000;
        }
    }
}

#spools-div-mobile-container {
    width: 68%;
    margin: 0 auto;
}

#spools-div-mobile {
    width: 100%;
    margin: 0;
    height: 0;
    padding-bottom: 153.885%;
    position: relative;
    
    @media only screen and (min-width: $breakPointMedium) {
        display: none;
    }
    
    img {
        max-width: 100%;
        display: block;
    }
    
    #menu-overlay-box-mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .menu-circle {
            
            border-radius: 50%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &:hover {
                background-color: #FFFFFF80;
            }
            
            h2 {
                font-size: 20px;
            }
        }

        #menu-1-mobile {
            width: 35%;
            height: 23.5%;
            top: 15%;
            right: 1%;
        }

        #menu-2-mobile {
            width: 32%;
            height: 21%;
            top: 34.5%;
            left: 1.5%;
        }

        #menu-3-mobile {
            width: 35.5%;
            height: 23.5%;
            bottom: 0.5%;
            left: 15%;
        }
        
        #menu-4-mobile {
            width: 34%;
            height: 23%;
            bottom: 9%;
            right: 7%;
        }
        
        .menu-circle-text {
            color: #00000000;
        }
    }
}

#header-image {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
    
    img {
        width: 100%;
        filter: grayscale(100%);
        display: block;
    }
    
    #logo {
        position: absolute;
        left: 10px;
        top: 2px;
        
        @media only screen and (min-width: $breakPointMedium) {
            left: 50%;
            transform: translateX(-50%);
            top: 70px;
        }
    }
}

@mixin col {
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    
    .col-50 {
        @include col;
        
        @media only screen and (min-width: $breakPointMedium) {
            float: left;
            width: 50%;
            box-sizing: border-box;
        }
    }
    
    .col-33 {
        @include col;
        padding: 0 20px;
        
        @media only screen and (min-width: $breakPointMedium) {
            float: left;
            width: 33.333%;
            box-sizing: border-box;
            height: 100%;
        }
    }
    
    &:after { 
       content: ""; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
}

.row-flex {
    padding: 0;
    display: block;
    
    @media only screen and (min-width: $breakPointMedium) {
        display: flex;
    }
}

.col-50-flex {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    
    @media only screen and (min-width: $breakPointMedium) {
        width: 50%;
    }
}

.bio-col {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    
    @media only screen and (min-width: $breakPointMedium) {
        width: 50%;
    }
    
    h2 {
        @include teko;
        color: $themeBrown;
        text-align: center;
        margin: 30px 0 15px 0;
    }
    
    p {
        text-align: center;
        
    }
    
    img {
        width: 80%;
//        height: 80%;
        display: block;
        margin: 30px auto;
    }
}

@media only screen and (min-width: $breakPointMedium) {
    .col-1-desktop {
        order: 1;
    }

    .col-2-desktop {
        order: 2;
    }
}


.footer-block {
    clear: both;
    width: 100%;
//    height: 300px;
    background-color: $themeYellow;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    
    h2 {
        color: white;
        margin: 30px 0 0 0;
    }
    
    p {
        color: white;
        margin: 0 0 60px 0;
    }
}

.contact-header {
    position: relative;
    
    #logo {
        position: absolute;
        z-index: 5;
        margin: 0;
        left: 10px;
        top: -68px;
        
        @media only screen and (min-width: $breakPointMedium) {
            top: 20px;
            z-index: 2;
            margin: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    #logo-contact {
        position: relative;
        transform: translateX(-50%);
        margin: 0;
        width: 200px;
        height: 200px;
        background-color: #666666;
        border-radius: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $titleFont;
        font-size: 18px;


        
    }
    
    .get-in-touch-spacer {
        display: none;
        
        @media only screen and (min-width: $breakPointMedium) {
            display: block;
            height: 100px;
        }
    }
    
    .contact-img-col {
        padding: 0;
    }
    
    .contact-text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        div {
//            margin-top: 250px;
        }
        
        h2 {
            color: $themeBrown;
            text-align: center;
        }
        
        p {
            margin: 20px 30px;
            text-align: center;
        }
            
    }
    
    img {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
    }
}

.contact-form-row {
    clear: both;
    padding: 0 0 0 0;
}

form {
    width: 80%;
    margin: 100px auto;
    position: relative;

    .form-input {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .form-label {
        position: absolute;
        z-index: 2;
        left: 5%;
        top: -40px;
    }

    label {
        color: $themeBrown;
        text-align: left;
        font-family: $mainFont;
        font-size: 18px;
        width: 130px;
        margin: 13px 0 54px 0;
        display: block;
        height: 100%;
    }

    input, textarea {
        background-color: #f4f5f6;
        border: none;
        width: 100%;
        color: black;
        margin-bottom: 50px;
        font-size: 18px;
        position: relative;
        z-index: 3;
    }

    input {
        height: 32px;
    }

    button {
        background-color: $themeBrown;
        font-family: $mainFont;
        font-size: 20px;
        color: white;
        border: none;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    @media only screen and (min-width: 1000px) {
        .form-input {
            width: 80%;
            margin-top: auto;
        }

        .form-label {
            left: auto;
            right: 90%;
            top: auto;
        }

        label {
            text-align: right;
            margin: 5px 0 24px 0;
            padding-right: 10px;
        }

        input, textarea {
            margin-bottom: 10px;
        }
    }
}

.icon-circle-col {
    text-align: center;
    margin-bottom: 50px;
    
    .icon-circle {
        background-color: $themeYellow;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
    }
    
    h3 {
        @include teko;
        color: #666666;
        font-size: 26px;
        margin: 20px 0 5px 0;
        line-height: 24px;
    }
    
    p {
        margin: 0;
    }
}

#upcoming-workshops-div {
    border-bottom: 2px solid grey;
    margin: 0 auto;
    width: 90%;
    
    #upcoming-workshops-text-div {
        background-color: grey;
        display: inline-block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
        h2 {
            color: white;
            margin: 5px 10px;
        }
    }
}

.workshop-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
//    height: 200px;
    min-height: 300px;
}

.clip-circle {
    max-width: 400px;
    margin: 0 auto;
    clip-path: circle(50% at center);
}

.course-container {
    padding: 30px 0 0 0;
    
    hr {
        width: 80%;
        border-top: 2px solid $themeBrown;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        margin-bottom: 80px;
    }
    
    .course-row {
//        max-height: 400px;
        margin: 0 0 30px 0;
    }
    
    img {
        width: 80%;
    }
    
    .course-detail {
        height: 30px;
        
        svg {
            float: left;
            height: 100%;
            margin-right: 10px;
        }
    }
    
    h3 {
        @include catamaranLight;
        font-size: 24px;
        text-align: center;
        margin: 0;
    }
    
    p {
        text-align: left;
//        float: left;
        margin: 0 0 0 10px;
    }
    
    button {
        width: 100px;
        height: 45px;
        margin: 0 auto;
        display: block;
        background-color: $themeBrown;
        color: white;
        border-radius: 8px;
        @include teko;
        font-size: 30px;
        margin-top: 30px;
    }
}

.workshop-intro {
    padding-bottom: 40px;
    
    p {
        padding: 10px 30px;
        text-align: center;
    }
    
    @media only screen and (min-width: $breakPointSmall) {
        p {
            padding: 10px 60px;
        }
    }
}

.icon-image {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.icon-image-1 {
    padding-top: 28px;
}

.icon-image-2 {
    padding: 30px 20px 0 0;
}

.icon-image-3 {
    padding: 0 0 0 5px;
}

.gallery-container {
    margin: 50px 0;
    position: relative;
    
    .gallery-item {
        position: relative;
        width: 100%;
        
        @media only screen and (min-width: $breakPointSmall) {
            width: 50%;
            float: left;
            box-sizing: border-box;
        }
        
        @media only screen and (min-width: $breakPointMedium) {
            width: 33.333%;
        }
        
        .gallery-item-click-target {
            position: absolute;
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            cursor: pointer;
//            background-color: green;
        }
        
        img {
            width: 80%;
            margin: 30px auto;
            display: block;
            position: relative;
            z-index: 1;
        }
    }
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#swipe-photo-gallery-container {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    position: fixed;
    z-index: 5;
    top: 0;
    display: none;
    
    .swipe-photo-gallery {
        width: 100%;
        display: flex;
//        border: 1px solid red;
        box-sizing: border-box;
        height: 100vh;
        --n: 4;
        width: calc(var(--n) * 100%);
        transform: translateX(calc((var(--i, 0) * (-100%) / var(--n)) + var(--tx, 0px)));
        

        img {
//            min-width: 100%;
//            width: 100%;
            height: 100%;
            object-fit: contain;
            width: calc(100% / var(--n));
//            border: 1px solid green;
            pointer-events: none;
        }
    }
    
    .smooth {
        transition: transform 0.5s ease-out;
    }
    
    .swipe-gallery-controls {
        position : absolute;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        .close-gallery {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            
            .close-gallery-cross {
                width: 80%;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 10%;
                background-color: white;
            }
            
            .cross-1 {
                transform: translateY(-50%) rotate(45deg);
            }

            .cross-2 {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
        
        .slide-scroll-controls {
            position: absolute;
            height: 100px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            
            .scroll-arrow {
                position: absolute;
                top: 0;
                height: 100%;
                width: 60px;
                display: none;
                
                svg {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    width: 80%;
                    height: 80%;
                    pointer-events: none;
                }
            }
            
            #scroll-left {
                left: 0;
            }
            
            #scroll-right {
                right: 0;
                
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
