        <div class="footer-block">
            <div class="row footer">
                <div class="col-50">
                    <h2>QUESTIONS?</h2>
                    <p>Visit the <a href="/contact">Contact page</a> to get in touch.</p>
                </div>
                <div class="col-50">
                    <h2>READY TO BOOK?</h2>
                    <p>See all available dates on the <a href="/workshops">Workshops page</a>.</p>
                </div>
            </div>
            <p id="made-by-micro">Made by <a href="https://wearemicro.co" target="_blank">Micro</a></p>
        </div>